# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: PR Validation - Most tests

on:
  push:
    branches:
      - master
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x.x
    - name: Test on .Net 8
      run: dotnet test Tests.Odin/Tests.Odin.csproj -f net8.0 --verbosity quiet --filter "FullyQualifiedName!~Odin.Email.Mailgun&FullyQualifiedName!~Odin.Email.Office365"
    - name: Test on .Net 9
      run: dotnet test Tests.Odin/Tests.Odin.csproj -f net9.0 --verbosity quiet --filter "FullyQualifiedName!~Odin.Email.Mailgun&FullyQualifiedName!~Odin.Email.Office365"
    - name: Test on .Net 10
      run: dotnet test Tests.Odin/Tests.Odin.csproj -f net10.0 --verbosity quiet --filter "FullyQualifiedName!~Odin.Email.Mailgun&FullyQualifiedName!~Odin.Email.Office365"

